footer{
    border-top:1px solid #dec129 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}
footer h3{
   margin-top: 3%;
}
footer span{
    font-weight: bold;
    color: #dec129;
}